#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 10px;
}
#listCategory {
    padding: 10px;
    border: 1px solid black;
    height: auto;
    
}
#listCreater {
    flex-grow: 1;
    border: 1px solid red;
    padding: 10px;
}
.todoListButton {
    color: red;
    width: 100px
}